.main_content_container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-left: 2px !important;
}

@media only screen and (max-width: 768px) {
    #root {
        overflow: hidden;
    }
}