.parallelBox {
    display: block;
    transform: translate3d(-50%, 174px, 0px);
}

.videoContainer {
    position: relative;
    /* height: 720px; */
    overflow: auto;
}

.firstBlock {
    padding: 10em 1em !important;
    text-align: center;
}

.firstColumnWidth {
    width: 70%;
    max-width: 700px;
    margin: auto;
    line-height: 2em;
}

.headingFirst {
    font-size: 3em;
    margin-bottom: 0.5em !important;
}

.secondBlock {
    background: #F8F8F8;
    padding: 5em 5em !important;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.thirdBlock {
    padding: 5em 5em !important;
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.padding-t-b-5 {
    padding-top: 10em !important;
    padding-bottom: 10em !important;
}

.noPad {
    padding: 0 !important;
}

.noMar {
    margin: 0 !important;
}

.flexBox {
    display: flex !important;
}

.bootstrapPowerTitle {
    font-size: 2.4em;
    line-height: 1.4em;
    margin-bottom: 0.5em !important;
}

.bootstrapPowerText {
    margin: auto;
    line-height: 2em;
}

.rightSideImage {
    text-align: right;
}

.parallax-container {
    position: relative;
}

.parallax {
    background-image: url("../../assets/images/parallax-01.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content {
    position: absolute;
    top: 0;
    height: 600px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.parallax_heading {
    font-size: 4em;
    font-weight: 200;
    line-height: 2em;
}

.textCenter {
    text-align: center;
}

.parallax-text {
    letter-spacing: 0.09em;
}

.enrollButton {
    color: #fff;
    background-color: #2ed3ae;
    border-color: #2ed3ae;
    padding: 1em 2em;
    margin-top: 0.5em !important;
    line-height: 5em;
    border-radius: 0.25em;
    font-weight: 600;
    letter-spacing: 0.08em;
    font-size: 1.1em !important;
}

.footerBlock {
    background: #F8F8F8;
    padding-top: 10em !important;
    padding-bottom: 5em !important;
}

.footerHeading {
    float: left;
    margin-bottom: 1.5em;
    font-size: 1.2em;
    width: 100%;
    color: #000;
}

.footerBlock {
    color: #888;
}

.footerNavs {
    list-style: none;
    padding-left: 0 !important;
}

.footerNavs li {
    color: #2ed3ae;
    line-height: 2em;
}

.letterSubscribe {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.inputBox {
    height: 3em;
    line-height: 2.5em;
    border-radius: 0.25em;
    min-width: 400px;
    margin-right: 0.5em;
    padding: 0.25em;
    border: 1px solid #ddd;
}

.submitButton {
    height: 3em;
    padding-left: 2em;
    padding-right: 2em;
    background: #2ed3ae;
    border: 2px solid #2ed3ae;
    border-radius: 0.25em;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
#vjs_video_3{
    width: 100%;
}