$bgColor: #F8F8F8;
$bg-content: rgba(221, 225, 227, 0);
$bg-icon: #A6B5B8;
$icon-active: #A6B5B8;

$icon-shaddow: 3px 3px 5px rgba(0, 0, 0, 0.1);

$icon-size: 39px;
$cirle-radius: 180px;
$borderColor: #C8C8C8;
$fillLightGray: #E2E2E2;

$themeBlue: #488BFF;
$greenColor: #49EB9F;
$grayColor: #f2f2f2;
$fadedThemeColor: #7AABFF;
$labelOne: #11A0BE;
$labelTwo: #594EF5;
$labelThree: #56BE11;
$labelFour: #EB6043;
$labelFive: #18F3A1;

$greenActionColor: #49EE8B;
$lightGrayActionColor: #ABABAB;

$white-color: #fff;
$border-color: #bbb;
$tripleSeventy: #707070;
$color-green: #00D215;
$color-white: #fff;
$Colorshadow: 0 0 3px rgba(0,0,0,0.35);
$deepShadow: 0 3px 8px rgba(0,0,0,0.16);

$table-color: $themeBlue;
$striped-light: #FFFFFF;
$striped-dark: #F8F8F8;
$inputBoxBg: #F1F1F1;
$notificationColor: #6258ED;
$switchBaseColor: #DEDEDE;
$arrowBg: #A4B6B8;
$accordianColorChapter: #E7ECED;
$announcementLightGray: #AEAEAE;


// this is new color pallet for new themes

$bg-container : #F2F7FF;
$blue-primary : #034AA6;
$active:#4F92EA ;
$line-header:#E3EDFD;

$select-filter-border : #F7F8F8;
$bg-stycky-table: #F9F9F9;


// BG color for empty state (Evaluation Format, Independent)
$bg-empty-state: #F2F7FF;

// left navigation style
$bg-icon: #4E90E7; 


// color hover
$hover-color: #F2F7FF;

// color label
$border-color:#B7D6FF;
$label-color-orange :#FEAF43;
$label-color-red :#F05974;
$label-color-blue-ocen :#36BFD7;
$label-color-gray : #BEC4CF;
$label-color-blue :#4F92EA;
$label-color-green :#1ABF73;
$label-color-purple : #7027A5;
$label-color-dark-gray :#676869;
$label-color-dark-gray-2 : #232230;
$label-color-pink :#FF0578;
$label-color-dark-blue : #056CF2;


// =========================
// New Color Pallet===========

// Backgraund primary 
$bg-blue : #034AA6;
$bg-dark-blue : #204F8D;
$bg-light-blue : #056CF2; 
$bg-orange: #F24822;
$bg-light : #F2F7FF;
$light : #e6f0ff;
$bg-White : #FFFFFF;

// backgraund Secondary 
$bg-second-orange: #FEAF43;
$bg-second-red:#F05974;
$bg-second-blue:#36BFD7;
$bg-second-green: #1ABF73;
$bg-second-gray:#BEC4CF;
$bg-second-light:#F2F2F2;

// Light Color
$light-orange :#FFF0DE;
$light-green : #D2FBFC;
$light-dark-green: #E3F4FE ; 
$light-red : #FEF5F5;



$bg-shadow :0 0 3px rgba(0,0,0,0.35);