// 40px = 2.5rem
$header1-text-size : 2.5rem;
$header1-text-fontweight : bold;

// 30px = 1.875rem
$header2-text-size : 1.875rem;
$header2-text-fontweight : bold;

// 20px = 1.25rem
$header3-text-size : 1.25rem;
$header3-text-fontweight : 700;

// 15px = 0.9375rem
$header4-text-size : 0.9375rem;
$header4-text-fontweight : normal;

// 10px = 0.625rem
$header4-text-size : 0.625rem;
$header4-text-fontweight : normal;

// 13px = 0.8125rem
$body-text-size : 0.8125rem;

// 17px = 1.0625rem
$body-lineheight : 1.0625rem;
$body-text-fontweight : normal;

// 12px = 0.75rem
$tablerow-text-size : 0.75rem;
$tablerow-text-fontweight : normal;
